.l-context2 {
    width: 100%;
    height: 100%;
    background: #f0eff4;
}
.red-head2 {
    width: 100%;
    background: #ec3440;
    padding: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.fa-angle-left {
    font-size: 20px;
    color: white;
}
.match2 {
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    color: white;
}
.media {
    width: 100%;
    height: 140px;
    background: white;
    margin-top: 6px;
}
.media .promotion {
    width: 90%;
    height: 69px;
    background: white;
    margin: 0 auto;
    border-bottom: 1px solid #e4e4e4;
}
.media .contest-judge {
    width: 90%;
    height: 69px;
    background: white;
    margin: 0 auto;
    border-top: 1px solid #e4e4e4;
}
.cf1 {
    width: 25px;
    height: 32px;
    margin-top: 5%;
    vertical-align: bottom;
}
.media1 {
    font-size: 16px;
    font-weight: bold;
}
.cf3 {
    width: 15px;
    height: 15px;
    margin-bottom: 10px;
}
.cf4 {
    width: 25px;
    height: 25px;
    margin-left: 170px;
    vertical-align: bottom;
    position: relative;
    display: none;
}
.cf5 {
    width: 25px;
    height: 25px;
    margin-left: 170px;
    vertical-align: bottom;
    position: absolute;
    top: 80px;
    right: 35px;
}
.cf6 {
    width: 25px;
    height: 25px;
    margin-left: 170px;
    vertical-align: bottom;
    position: absolute;
    top: 150px;
    right: 35px;
}
.discuss {
    width: 100%;
    height: 200px;
    background-color: white;
    margin-top: 10px;
    outline: none;
    padding-left: 20px;
    border: 1px solid #e4e4e4;
}
.budget-amount {
    width: 100%;
    height: 50px;
    border: 1px solid #e4e4e4;
    background-color: white;
    margin-top: 14px;
    padding-left: 20px;
}
.text-budget {
    line-height: 50px;
    font-size: 14px;
    color: #4c4b4b;
}
#put {
    width: 200px;
    height: 20px;
    border: none;
    outline: none;
    color: red;
}
.foot {
    width: 100%;
    height: 250px;
    background: #efeff4;
    padding-top: 10px;
}
.reder {
    width: 264px;
    height: 40px;
    background: #ef3745;
    margin: 23px auto;
    border-radius: 5%;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
    color: white;
}
.custom {
    width: 264px;
    height: 40px;
    background: #55a85e;
    margin: 0 auto;
    border-radius: 5%;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
    color: white;
}
.sa-footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #f7f7f8;
    box-sizing: border-box;
    padding: 10px 0 0 0;
}
.sa-footer .sa-f {
    width: 25%;
}
.sa-footer .sa-f img {
    display: block;
    margin: 0 auto;
    width: 20px;
    height: 20px;
}
.sa-footer .sa-f h6 {
    text-align: center;
    font-size: 12px;
}
