.sai-head {
  width: 100%;
  height: 44px;
  background: #ef3442;
  position: fixed;
  top: 0;
  z-index: 10;
}
.sai-head .btn-group {
  position: absolute;
  left: 50%;
  margin-top: 7px;
  margin-left: -84px;
  overflow: hidden;
  border: 1px solid white;
  box-sizing: border-box;
  border-radius: 2px;
}
.sai-head .btn-group .sai-btn:first-child {
  background: white;
  color: #ef3442;
  float: left;
  width: 82px;
  height: 28px;
  font-size: 14px;
  text-align: center;
  line-height: 28px;
}
.sai-head .btn-group .sai-btn {
  display: inline-block;
  float: left;
  width: 82px;
  height: 28px;
  font-size: 14px;
  color: #fff ;
  text-align: center;
  line-height: 28px;
}
.sai-head .sai-i0 {
  display: inline-block;
  width: 22px;
  height: 40px;
  background: url("../../img/icon8.png");
  background-repeat: no-repeat;
  background-size: contain;
  float: right;
  margin-top: 14px;
  margin-right: 10px;
}
.sai-img {
  width: 100%;
  height: 160px !important;
  background: url("../../img/o_1b3otn5bv9cg141f7nksnhkgi7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.sai-img1 {
  width: 100%;
  height: 160px !important;
  background: url("../../img/o_1ap70hrk0tlc9e717vf1s0ocpt7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.sai-one {
  width: 100%;
}
.sai-one .sai-re1 {
  width: 98%;
  height: 199px;
  border: .5px solid #c0c0c0;
  margin: 12px auto;
  position: relative;
}
.sai-one .sai-re1 img {
  width: 100%;
}
.sai-one .sai-re1 h4 {
  font-size: 14px;
  color: #393939;
  margin-top: 6px;
  margin-left: 10px;
}
.sai-one .sai-re1 p {
  color: #777;
  font-size: 10px;
  position: absolute;
  top: 88%;
  margin-left: 60%;
  overflow: hidden;
}

.sai-one .sai-re1 p .sai-i1 {
  display: inline-block;
  width: 20px;
  height: 13px;
  background: url("../../img/list_ico1.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 2px;
}
.sai-one .sai-re1 p .sai-i2 {
  display: inline-block;
  width: 16px;
  height: 12px;
  background: url("../../img/list_ico6.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  top: 2px;
}
.sai-two {
  width: 100%;
}
.sai-two .sai-re2 {
  display: inline-block;
  float: left;
  width: 46.5%;
  height: 238px;
  border: 0.5px solid #c0c0c0;
  margin-left: 2%;
  margin-top: 12px;
}
.sai-two .sai-re2 img {
  width: 100%;
  border: 1px solid #e5e5e5;
}
.sai-two .sai-re2 .sai-hid {
  width: 98%;
  height: 20px;
  margin-top: 8px;
  overflow: hidden;
}
.sai-two .sai-re2 h4 {
  font-size: 14px;
  color: #393939;
  margin: 4px 8px;
}
.sai-two .sai-re2 p {
  color: #7c7b7b;
  margin: 12px 8px;
}
.sa-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #f7f7f8;
  box-sizing: border-box;
  padding: 10px 0 0 0;
}
.sa-footer .sa-f {
  width: 25%;
}
.sa-footer .sa-f img {
  display: block;
  margin: 0 auto;
  width: 20px;
  height: 20px;
}
.sa-footer .sa-f h6 {
  text-align: center;
  font-size: 12px;
}
